<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Create a new list
        </h1>
        <div class="field is-grouped">
            <p class="control is-expanded">
              <input #ListTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter List Name">
            </p>
            <p class="control">
              <a class="button is-primary is-medium has-text-white" (click)="createList(ListTitleInput.value)">
                Create
              </a>
            </p>
          </div>
          <button class="button is-danger" routerLink="/">Cancel</button>
    </div>
</div>